<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IServiceReservation" />
                <binding name="BasicHttpBinding_IServiceCustomer" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:59838/ServiceReservation.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceReservation"
                contract="ServiceReservation.IServiceReservation" name="BasicHttpBinding_IServiceReservation" />
            <endpoint address="http://localhost:59838/ServiceCustomer.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceCustomer"
                contract="ServiceCustomer.IServiceCustomer" name="BasicHttpBinding_IServiceCustomer" />
        </client>
    </system.serviceModel>
</configuration>